body {
  background-color: rgb(216, 216, 216);
  font-family: 'Trebuchet MS', sans-serif;
}

#container {
  background-color: rgb(255, 255, 255);
  width: 600px;
  padding: 20px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 5px;
  border-top: 5px solid rgb(125, 149, 255);
  min-height: 500px;
  max-height: 800px;
}

#opcoes {
  float: right;
}

button.head {
  background-color: rgb(243, 243, 243);
  border: none;
  color: rgb(182, 182, 182);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

button.head:hover {
  background-color: rgb(125, 149, 255);
  color: white;
}
